@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto', sans-serif;
}

.img {
    width: 100%;
    height: auto;
}

.box {
    box-sizing: border-box;
}

/* HEADER */

.container {
    max-width: 1397px;
    width: 100%;
    margin: 0 auto;
}

.header__row {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
}

.header__back {
    text-wrap: nowrap;
}

.btn {
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    padding: 15px 44px;
    background: #fb4b4d;
    font-size: 14px;
    line-height: 154%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #fff;
    color: #222;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 30px;
}

.nav__item:not(:nth-child(3)) .nav__link {
    padding: 15px 44px;
}

.nav__item:nth-child(3) .nav__link {
    transition: 0.6s;
    transition-delay: 0.1s;
}

.nav__item:not(:nth-child(3)) .nav__link:hover {
    background: #fb4b4d;
    color: #fff;
}

.nav__item:nth-child(3) .nav__link:hover {
    transform: rotateY(360deg);
}

.nav__link {
    display: list-item;
    max-height: 71px;
    font-size: 14px;
    line-height: 154%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #222;
    text-decoration: none;
    transition: 0.3s;
}

/* MAIN */
.hero {
    margin-top: -1px;
}

.hero__container {
    display: flex;
    border: 1px solid #000;
}

.hero__left,
.hero__right {
    width: 50%;
}

.hero__ticker {
    border-top: 1px solid #000;
}

.ticker {
    position: relative;
    overflow: hidden;
    display: flex;
    font-size: 17px;
    line-height: 152%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000;
    white-space: nowrap;
    flex-shrink: 0;
    padding: 24px 0;
}

.ticker__item {
    display: flex;
    align-items: center;
    padding-right: 29px;
    animation: ticker 5s linear infinite;
}

.ticker__item img {
    padding-left: 29px;
}

@keyframes ticker {
    0% {
        transform: translateZ(0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.hero__img {
    border-top: 1px solid #000;
    padding: 20px;
}

.hero__right {
    border-left: 1px solid #000;
}

.hero__tittle {
    padding: 24px 80px 23px;
}

.hero__tittle h1 {
    margin: 0;
    font-weight: 400;
    font-size: 58px;
    line-height: 111%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.hero__img--2 {
    border-top: 1px solid #000;
    padding: 20px;
}

/* products */

.products__top {
    display: flex;
    border: 1px solid #000;
    margin-top: -1px;
    padding: 69px 30px 58px;
}

.products__top::after {
    content: '';
    width: 225px;
    height: 156px;
    background-image: url(../img/top__after.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products__top::before {
    content: '';
    width: 225px;
    height: 156px;
    background-image: url(../img/top__before.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products__top h2 {
    margin: 0 auto;
    max-width: 785px;
    font-weight: 400;
    font-size: 65px;
    line-height: 112%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.products__content {
    position: relative;
    border: 1px solid #000;
    margin-top: -1px;
    padding: 20px;
}

.product__decor {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(100% - 40px);
}

.products__row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.product__item_container {
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box;
}

.product__item {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 129px 23px 22px;
    background-image: url(../img/back__product.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    text-wrap: nowrap;
    box-sizing: border-box;
}

.products__adv {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.product__item h3 {
    margin: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 119%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.product__ticker {
    border: 1px solid #000;
    margin-top: -1px;
}

.product__bottom {
    border: 1px solid #000;
    margin-top: -1px;
    padding: 20px;
}

.story__chill {
    display: flex;
    border: 1px solid #000;
    margin-top: -1px;
}

.story__left,
.story__right {
    width: 50%;
}

.story__left h2 {
    margin: 0;
    padding: 53px 54px 44px;
    font-weight: 400;
    font-size: 58px;
    line-height: 111%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.story__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 135px 0 131px;
    border-left: 1px solid #000;
    background-image: url(../img/story__right.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.story__text {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    text-align: center;
}

.advert__ticker {
    border: 1px solid #000;
    margin-top: -1px;
}

.ticker__bottom {
    padding-left: 0;
    margin-left: 29px;
    margin-right: 29px;
}

.bottom_banner {
    border: 1px solid #000;
    margin-top: -1px;
}

.banner {
    position: relative;
    z-index: 1000;
    margin-top: -180px;
}

.footer {
    border: 1px solid #000;
    margin-top: -1px;
    background: #cdfd3b;
    padding: 20px 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__item {
    all: unset;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    cursor: pointer;
}