@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0 15px;
}

.img {
    width: 100%;
    height: auto;
}

.flex {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* HEADER */

.container {
    max-width: 1397px;
    width: 100%;
    margin: 0 auto;
}

.header__row {
    border: 1px solid #000;
    padding: 22px;
    height: 112px;
}

.nav {
    width: 100%;
    justify-content: space-between;
    gap: 150px;
}

.nav__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 2px);
    transition: 0.6s;
    transition-delay: 0.1s;
}

.nav__logo:hover {
    transform: translate(-50%, 2px) scale(0.9);
}

.btn {
    text-wrap: nowrap;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    padding: 15px 44px;
    background: #fb4b4d;
    font-size: 14px;
    line-height: 154%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #fff;
    color: #222;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav__link {
    display: list-item;
    padding: 15px 44px;
    max-height: 71px;
    font-size: 14px;
    line-height: 154%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #222;
    text-decoration: none;
    transition: 0.3s;
}

.nav__link:hover {
    background: #fb4b4d;
    color: #fff;
}

.nav__list--left {
    max-width: 548px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.nav__list--right {
    max-width: 548px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}


/* MAIN */
.hero {
    margin-top: -1px;
}

.hero__container {
    display: flex;
    border: 1px solid #000;
}

.hero__left,
.hero__right {
    width: 50%;
}

.hero__ticker {
    border-top: 1px solid #000;
}

.ticker {
    position: relative;
    overflow: hidden;
    display: flex;
    font-size: 17px;
    line-height: 152%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000;
    white-space: nowrap;
    flex-shrink: 0;
    padding: 24px 0;
    will-change: transform;
}

.ticker__item {
    display: flex;
    align-items: center;
    padding-right: 29px;
    animation: ticker 5s linear infinite;
}

.ticker__item img {
    padding-left: 29px;
}

.hero__img {
    border-top: 1px solid #000;
    padding: 20px;
}

.hero__right {
    border-left: 1px solid #000;
}

.hero__tittle {
    padding: 24px 80px 15px;
}

h1 {
    margin: 0;
    font-weight: 400;
    font-size: 58px;
    line-height: 111%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.hero__img--2 {
    border-top: 1px solid #000;
    padding: 20px;
}

/* products */

.products__top {
    max-height: 273px;
    gap: 20px;
    border: 1px solid #000;
    margin-top: -1px;
    padding: 59px 30px 58px;
}

.product__img--left,
.product__img--right {
    max-width: 225px;
    max-height: 156px;
}

.products__top h2 {
    margin: 0 auto;
    max-width: 785px;
    font-weight: 400;
    font-size: 65px;
    line-height: 112%;
    letter-spacing: 0.01em;
    text-wrap: wrap;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.products__content {
    position: relative;
    border: 1px solid #000;
    margin-top: -1px;
    padding: 20px;
}

.product__decor {
    position: absolute;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(100% - 40px);
}

.decor__img--left {
    transform: translateX(-13.5px);
}

.decor__img--right {
    transform: translateX(12.5px);
}

.products__row {
    flex-wrap: wrap;
    margin: -10px;
}

.product__item_container {
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box;
}

.product__item {
    flex-direction: column;
    gap: 13px;
    padding: 129px 23px 22px;
    background-image: url(../img/back__product.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.products__adv {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.product__item h3 {
    margin: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 119%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.product__ticker {
    border: 1px solid #000;
    margin-top: -1px;
}

.product__bottom {
    border: 1px solid #000;
    margin-top: -1px;
    padding: 20px;
}

.story__chill {
    align-items: normal;
    border: 1px solid #000;
    margin-top: -1px;
}

.story__left,
.story__right {
    width: 50%;
}

.story__left h2 {
    margin: 0;
    padding: 53px 54px 44px;
    font-weight: 400;
    font-size: 58px;
    line-height: 111%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.story__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 135px 0 131px;
    border-left: 1px solid #000;
    background-image: url(../img/story__right.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.story__text {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    text-align: center;
}

.advert__ticker {
    border: 1px solid #000;
    margin-top: -1px;
}

.ticker__bottom {
    padding-left: 0;
    margin-left: 29px;
    margin-right: 29px;
}

.bottom_banner {
    border: 1px solid #000;
    margin-top: -1px;
}

.banner {
    position: relative;
    z-index: 1000;
    margin-top: -180px;
}

.footer {
    border: 1px solid #000;
    margin-top: -1px;
    background: #cdfd3b;
    padding: 20px 93px;
    justify-content: space-between;
}

.footer__item {
    all: unset;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    cursor: pointer;
}

@keyframes ticker {
    0% {
        transform: translateZ(0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@media (max-width: 1440px) {
    .banner {
        margin-top: -150px;
    }
}

@media (max-width: 1235px) {
    .product__item h3 {
        font-size: 24px;
    }
}

@media (max-width: 1224px) {
    .btn {
        display: none;
    }

    .nav__list--left,
    .nav__list--right {
        justify-content: space-around;
    }

    h1 {
        font-size: 45px;
    }

    .products__top h2 {
        font-size: 35px;
    }

    .decor__img {
        transform: scale(0.8);
    }

    .decor__img--left {
        transform: translateX(-13.5px) scale(0.8);
    }

    .decor__img--right {
        transform: translateX(12.5px) scale(0.8);
    }

    .story__text {
        font-size: 14px;
    }

    .story__left h2 {
        font-size: 48px;
    }

    .banner {
        margin-top: -125px;
    }
}

@media (max-width: 1024px) {
    .product__decor {
        display: none;
    }

    .product__item_container {
        width: 50%;
    }

    .product__img--left,
    .product__img--right {
        display: none;
    }

    .product__item h3 {
        font-size: 22px;
    }

    .products__adv {
        font-size: 14px;
    }

    .story__right {
        padding: 88px 0 88px;
        background-image: none;
    }

    .banner {
        margin-top: -105px;
    }

    .footer__item {
        font-size: 14px;
    }

    h1 {
        font-size: 34px;
    }

    .nav__list--left,
    .nav__list--right {
        display: none;
    }
}

@media (max-width: 876px) {

    .hero__container {
        flex-direction: column;
        align-items: center;
    }

    .hero__left,
    .hero__right {
        width: 100%;
    }

    .hero__right {
        border-left: none;
    }

    .story__chill {
        flex-direction: column;
        align-items: center;
    }

    .story__left,
    .story__right {
        width: 100%;
    }

    .ticker {
        font-size: 14px;
    }

    .banner {
        margin-top: -70px;
    }

    .footer {
        padding: 20px;
    }

    .products__top h2 {
        text-wrap: wrap;
    }

    .product__item_container {
        width: 100%;
    }

    .product__item {
        padding: 0;
        background-image: none;
    }

    .product__item img {
        width: auto;
    }

    .story__left h2 {
        font-size: 24px;
    }

    .banner {
        margin-top: -46px;
    }
}

@media (max-width: 600px) {
    .header__row {
        height: auto;
    }

    .nav__logo {
        transform: translate(-50%, 2px) scale(0.5);
    }

    .nav__logo:hover {
        transform: translate(-50%, 2px) scale(0.3);
    }
}

@media (max-width: 460px) {
    .product__item img {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }
}